.ResultsPage{
    height: 55vh;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 5px;
    margin: 15px auto;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media(min-width: 600px){
    .ResultsPage{
        height: 68vh;
        width:80%;
        font-size: 2rem;
    }
}