.Footer {
   position: absolute; 
   left: 0%;
   bottom: 0;
   width: 100%;
   background-color: #111;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}


@media(min-width: 500px){
    .Footer ul{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .Footer li {
        padding: 0 10px;
    }

}