.QuestionDisplay {
    height: 20vh;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media(min-width: 600px) {
    .QuestionDisplay{
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }
}