.Footer {
    position: absolute; 
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.Footer ul {
    list-style: none;
    margin: 10px auto; 
    padding: 0;
}

@media(min-width: 600px){
    .Footer ul{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .Footer li {
        padding: 0 10px;
    }

}